*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-color;
  box-sizing: border-box;

  &::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #F5F5F5;
    }
  
  &::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
  }
  
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: $primary;
  }
}

.container {
  display: flex;
  margin-top: 5rem;

  @media (max-width: 768px){
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}