.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 562px;
  border-right: 1px solid $border-color;

  &__h2{
    font-size: 3.7rem;
    font-weight: 500;
    margin: 4rem 0 2rem;
  }

  &__h3{
    font-size: 2rem;
    font-weight: 500;
    color: $secondary;
    margin-bottom: 4rem;
  }

  &__button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: $primary;
    color: white;
    width: 243px;
    height: 60px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
      transform: scale(1.07);
    }
  }
}

// MEDIA QUERIES

  @media (max-width: 768px){
    .header{
    width: 90%;
    border-right: none;
    border-bottom: 1px solid $border-color;

    &__h2{
      font-size: 3.3rem;
    }

    &__h3{
      font-size: 1.7rem;
    }

    &__button{
      font-size: 1.3rem;
     }
    }
  }